<ion-header class="padding">
    <ion-toolbar color="success">
        <ion-buttons slot="secondary">
            <ion-button Href="../buscar">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="/assets/siem_logo.svg" class="avatar animated fadeIn " height="65px">
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card mode="ios" color="secondary">
        <ion-card-header>
            <ion-card-title>Detalle de los GASTOS Semanales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Sistema de Información Ejecutiva Municipal</p>
        </ion-card-content>
    </ion-card>
    <div class="ion-padding">

        <ion-card mode="ios">
            <ion-card-header>
                Gasto Diario por Categorías
            </ion-card-header>
            <ion-card-content>
                <canvas #BarChartDiarioCategorias></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card mode="ios">
            <ion-card-header>
                Gasto Semanal
            </ion-card-header>
            <ion-card-content>
                <canvas #BarChartSemanal></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card mode="ios">
            <ion-card-header>
                Historico de los Gastos - Semestral
            </ion-card-header>
            <ion-card-content>
                <canvas #BarChartSemestral></canvas>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>