.titulo {
    text-align: center !important;
}

.titulo-cards {
    text-align: center !important;
}

.tarjetadeotras{
    height: 80%;
    width: auto;
}
.loading{
    text-align: center;
    color: #D8D8D8;
}