<app-header></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Haz pull para recargar"
      refreshingSpinner="lines"
      refreshingText="Refrescando resultados...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card mode="ios" color="secondary">
    <ion-card-header *ngFor="let logo of logos">
      <img src="{{logo.img}}" />
      <ion-card-title class="titulo">RECAUDACIÓN</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card mode="ios" class="tarjetadeotras">
    <ion-card-header>
      <h5 class="titulo-cards">Ingreso de Jurisdicion Municipal</h5>
    </ion-card-header>
    <ion-card-content>
      <canvas #BarChartMunicipales></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <h5 class="titulo-cards">Ingreso Diario</h5>
    </ion-card-header>
    <ion-item>
      <ion-label>Seleccionar dia</ion-label>
      <ion-datetime value="2020-01-01" min="2019" max="2021" [dayShortNames]="customDayShortNames" displayFormat="DD/MM/YYYY" [(ngModel)]="myday" (ionChange)="var_ingreso_pordia(this.myday)"></ion-datetime>
    </ion-item>
    <ion-card-content>
      <div>
        <div class="loading">
          <h4 *ngIf="isLoadingDiario">Por favor indique la fecha</h4>
          <ion-spinner class="loading" name="lines" placeholder="Indique la fecha" *ngIf="isLoadingDiario"></ion-spinner>
        </div>
        <div>
          <canvas #BarChartSeleccionDiaria></canvas>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <h5 class="titulo-cards">Recaudación Semanal</h5>
    </ion-card-header>
    <ion-card-content>
      <canvas #BarChartSemanal></canvas>
    </ion-card-content>
  </ion-card>

    <ion-card mode="ios">
      <ion-card-header>
        <h5 class="titulo-cards">Ingreso Mensual</h5>
      </ion-card-header>
      <ion-item>
        <ion-label>Seleccionar el mes</ion-label>
        <ion-datetime value="2020-01-01" min="2019" max="2021" [dayShortNames]="customDayShortNames" displayFormat="MM/YYYY" [(ngModel)]="mydate" (ionChange)="var_ingresodelMes(this.mydate)"></ion-datetime>
    </ion-item>
    
      <ion-card-content> 
        <div>
          <div class="loading">
            <h4 *ngIf="isLoadingMensual">Por favor indique la fecha</h4>
            <ion-spinner class="loading" name="lines" placeholder="Indique la fecha" *ngIf="isLoadingMensual"></ion-spinner>
          </div>
          <div>
            <canvas #BarChartSeleccionMensual>
            </canvas>
          </div>
        </div>       
      </ion-card-content>
      
  </ion-card>

    <ion-card mode="ios">
      <ion-card-header>
        <h5 class="titulo-cards">Recaudación Mensual Histórica</h5>
      </ion-card-header>
      <ion-card-content>
        <canvas #BarChartMensual></canvas>
      </ion-card-content>
    </ion-card>

</ion-content>
