* {
    box-sizing: border-box;
}

html,
body {
    background: #ffffff;
}

h1 {
    margin: 0;
    padding: 0;
}

.custom-form {
    text-align: center;
    min-width: 300px;
    max-width: 90%;
    margin: 0px auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.15);
    margin: auto;
    border-radius: 0.5rem;
    color: black;
}

.custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 1.5rem;
    padding: 1rem;
    border: 1px;
    background: #fff !important;
    background-color: #fff;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

input:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

--placeholder-color {
    color: #fff;
}

.titulo-login {
    margin: auto;
    font-weight: 600;
}

.custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #30B7BD;
    margin: auto;
    width: 50%;
    height: auto;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
}

//Slides 
.slides {
    height: 40%;
}

.slide-1 {
    height: 100%;
    width: 100%;
    background-color: #BCD8C1;
}

.slide-2 {
    height: 100%;
    width: 100%;
}

.slide-3 {
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
}

.slide-full {
    margin-top: 20%;
    height: 45% !important;
}

.slides-ios {
    --bullet-background: #BCD8C1 !important;
    --bullet-background-active: #BCD8C1 !important;
    --progress-bar-background: #BCD8C1 !important;
    --progress-bar-background-active: #BCD8C1 !important;
    --scroll-bar-background: #BCD8C1 !important;
    --scroll-bar-background-active: #BCD8C1 !important;
}

ion-card {
    overflow: unset !important;
}

ion-card {
    height: 200px;
    width: 300px;
    background-color: transparent;
    box-shadow: none;
    border: none !important;
}

.slide-image {
    width: 120px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -45px;
}

ion-card-header {
    position: relative;
    top: -60px;
}

ion-card-content {
    position: relative;
    top: -62px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}