<app-header></app-header>

<ion-content>
  <div class="login">
    <form class="custom-form" method="post">
      <h1>Acceder al SIEM</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="Correo"
        placeholder="Correo"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="Contraseña"
        placeholder="Contraseña"
        required="required"
      />
      <button type="submit" (click)="login()">Entrar</button>
    </form>
  </div>
</ion-content>
